/* style pour la page 1 sur flex - pisola CBS */

body {
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 400px;
}

h1 {
    text-align: center;
}

.or {
    background-color: rgb(245, 219, 75);
}

.argent {
    background-color: rgb(228, 227, 222);
}

.vert {
    background-color: rgb(200, 245, 75);
}

.rose {
    background-color: rgb(238, 184, 184);
}

/* FLEX  */

.flex {
    background-color: orange;
    margin: auto;
    /* 1-  le parent est display-flex  */
    display: flex;

    /* 3- si le parent est trop petit les div s'adaptent à la largeur du parent ils vont rentrer quoi qu'il arrive */
    width: 600px;
    height: 800px;

    /* 4- si on a flex-wrap; wrap la largeur des enfants est respectée le 4e élément va à la ligne */
    /* flex-wrap: wrap; */

    /* 5- si on utilise flex-wrap: wrap-reverse; le dernier élément qui ne rentre pas dans le parent passe en premier */
    /* flex-wrap: wrap-reverse; */

    /* 6- comportement normal ou par défaut ; on force l'alignement et le redimensionnement des éléments */
    /* flex-wrap: nowrap; */

    /* 7- la justification des éléments avec justify-content  peut prendre différentes valeurs ; flex-start par défaut , flex-end à la fin, center au centre, space-between, puis space-around et space-evenly */
    justify-content: space-evenly;

    /* 8- autre propriété la hauteur align-items et l'alignement vertical ; stretch valeur par défaut, center au centre flex-start au début flex-end à la fin et baseline */
    align-items: center;
}

.flex div {
    /* 2- toutes les div dans la div parente qui est flex ont une largeur définie */
    width: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.t-cap {
   text-transform: uppercase;
}
