/* style pour la page 2 sur flex - pisola CBS */

body {
    background-color: rgb(25, 182, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 500px;
}

h1 {
    text-align: center;
}

.or {
    background-color: rgb(245, 219, 75);
}

.argent {
    background-color: rgb(228, 227, 222);
}

.vert {
    background-color: rgb(200, 245, 75);
}

.rose {
    background-color: rgb(238, 184, 184);
}

/* flex  */

.flex {
    background-color: pink;
    display: flex;
    /* par défaut les enfants seront flex-direction: row; dans la rangée; row-reverse on inverse l'ordre des élements,  column de haut en bas et column-reverse on inverse l'ordre des éléments dans la hauteur */
    flex-direction: row;
    /* la propriété gap contrôle l'espace entre le éléments flex  */
    
}

.flex div {
    /* padding: 5px; */
    text-align: justify;
    
    
}










/* la seconde div flex  */

.flex-2 {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-evenly;
    align-items: baseline;

}

.flex-2 div {
    border: 1px solid green;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}