/* une grille avec flex  et en responsive - pisola CBS */

* {
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
}

/* couleurs pour identifier */

.bleu-leger {
    background-color: lightblue;
}

.vert-leger {
    background: lightgreen;
}

.gris-leger {
    background-color: lightgrey;
}

main {
    width: 1000px;
    margin: 0 auto;
}

/* la grille en flex */
/* la classe pour créer une rangée */

.row {
    display: flex;
    flex-direction: row;
    /* passage à la ligne des éléments pour que la largeur des col soit respectée */
    flex-wrap: wrap;
    row-gap:5px;
    margin-bottom: 5px;
}

/* la grille sur 12 colonnes, et la définition de la largeur des colonnes */
.col-1 {
    /* cette valeur est la largeur en % d'une colonne si je veux la largeur de 2 colonnes je fais la largeur d'une colonne X 2 */
    width: 8.333333%;
    padding: 5px;
}

.col-2 {
    width: 16.666666%;
    padding: 5px;
}

.col-3 {
    width: 25%;
    padding: 5px;
}

.col-4 {
    width: 33.333333%;
    padding: 5px;
}

.col-5 {
    width: 41.666666%;
    padding: 5px;
}

.col-6 {
    width: 50%;
    padding: 5px;
}

.col-7 {
    width: 58.333333%;
    padding: 5px;
}

.col-8 {
    width: 66.666666%;
    padding: 5px;
}

.col-9 {
    width: 75%;
    padding: 5px;
}

.col-10 {
    width: 83.333333%;
    padding: 5px;
}

.col-11 {
    width: 91.666666%;
    padding: 5px;
}

.col-12 {
    width: 100%;
    padding: 5px;    
}

/* les marges à gauche pour créer si on le veut des colonnes vides */
.marge-1 {
    margin-left: 8.333333%;
}
.marge-2 {
    margin-left: 16.66666%;
}
.marge-3 {
    margin-left: 25%;
}
.marge-4 {
    margin-left: 33.333333%;
}
.marge-5 {
    margin-left: 41.666666%;
}
.marge-6 {
    margin-left: 50%;
}
.marge-7 {
    margin-left: 58.333333%;
}
.marge-8 {
    margin-left: 66.666666%;
}
.marge-9 {
    margin-left: 75%;
}
.marge-10 {
    margin-left: 83.333333%;
}
.marge-11 {
    margin-left: 91.666666%;
}

/* classe pour les images adaptatives */

.img-fluide {
    width: 100%;
}

/* les règles de médias queries pour le responsive et les différents écrans */

/* pour les téléphones ou les smartphones */

@media (max-width: 320px) {

    .column-xs {
        display: flex;
        flex-direction: column;
    }
    .col-xs-12 {
        width: 100%;
    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .marge-xs {
        margin: 0;
    }
    body {
        background-color: #fff;
    }
    main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}
/* fin pour les téléphones */

/* pour les petites tablettes et les smartphones grand écrans  */

@media (min-width: 321px) and (max-width: 767px) {

    body {
        background-color: rgb(248, 190, 200);
    }

    main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* pour les tablettes et certains ordinateurs portables */

@media (min-width: 768px) and (max-width: 1096px) {

    body {
        background-color: rgb(104, 172, 204);
    }

    main {
       background-color: #fff;
    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* pour les ordinateurs de bureau, les écrans plus grands que 1097px */

@media (min-width: 1097px) {

    body {
        background-color: rgb(161, 228, 27);
    }
}